$iconWidth: 100px;
$iconHeight: $iconWidth;

.talk_m
{
  width: 100%;
  height: 100vh;
  background-color: #aaa;
}

.item_m
{
  position: relative;
}

.iconWrap_m
{
  width:100px;
  position: absolute;
  left: 0;
  top: 0;
}

.balloonWrap_m
{
  width: calc(100% - #{$iconWidth*2*1.2});
  margin-left: $iconWidth*1.2;
}

.balloon_m
{
  background-color: #ee9999;
}
