.talk_m {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #7393c2; }

.item_m {
  position: relative;
  margin-bottom: 30px; }

.iconWrap_m {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 9px;
  top: 0; }

.icon_m {
  width: 100%;
  height: 100%;
  border-radius: 20%; }

.balloonWrap_m {
  width: calc(100% - 216px - 64px);
  margin: 0 auto; }

.balloon_m {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 30px;
  background-color: #fff; }

.tale {
  color: #fff;
  position: absolute;
  top: 12.8px;
  left: -32px; }

.text_m {
  font-size: 30px;
  color: #444; }

.nfst_m {
  margin-top: 15px; }

.me_m .iconWrap_m {
  right: 9px;
  top: 0;
  left: auto; }

.me_m .balloon_m {
  background-color: #81de45; }

.me_m .tale {
  color: #81de45;
  right: -32px;
  left: auto; }
